<p id="notice"><%= notice %></p>

<h1>Films</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Release date</th>
      <th>Description</th>
      <th>Rental Duration</th>
      <th>Release Year</th>
      <th>Replacement Cost</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.rental_rate %></td>
        <td><%= film.created_at %></td>
        <td><%= film.description %></td>
        <td><%= film.rental_duration %></td>
        <td><%= film.release_year %></td>
        <td><%= film.replacement_cost %></td>
        <td><%= film.language.name %></td>
        <td><%= link_to 'Show', film %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>